.array-bar {
  width: 1vw;
  height: 2px;
  /* display: inline-block; */
  margin-left: 1px;
  margin-right: 1px;
}

.row {
  margin: 0px, 10px, 0px, 10px;
}

.break {
  width: 20px;
}

.container .Main {
  margin: 0px;
}
